<div class="parent-container">
  <div class="sorting">
    <div class="sorting-select">
      <select (change)="sortProducts($event)">
        <option [value]="sortItem.sortValue" *ngFor="let sortItem of sorting">
          {{ sortItem.sortString | titlecase }}
        </option>
      </select>
    </div>
  </div>
  <div class="container">
    <div class="products">
      <div class="products-list" *ngFor="let pdt of filteredProducts">
        <app-product [pdt]="pdt"></app-product>
      </div>
    </div>
  </div>
  <div class="pagination">
    <div class="page-value">
      <div class="page-number" *ngFor="let item of pageValue; index as i">
        <button
          [ngClass]="{ 'page-number-button': i === btnValue }"
          [value]="i"
          (click)="changePage(i)"
        >
          {{ i + 1 }}
        </button>
      </div>
    </div>
  </div>
</div>
