.form-actions {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
}

.pop-up {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-dialog {
  width: 400px;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: teal;
}

.close {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  margin-top: -20px;
  margin-right: -50px;
}

select,
.pdt-details {
  width: 300px;
  height: 30px;
  border-radius: 4px;
  margin-top: 5px;
}

p {
  color: #f44336;
  margin-top: -5px;
}

.filename-input {
  width: 300px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
}

.btn {
  width: 140px;
  height: 35px;
  border-radius: 4px;
  margin-top: 5px;
}
