<div class="pop-up">
  <div class="popup-dialog">
    <div class="popup-content">
      <form (ngSubmit)="addProduct(addPdt)" #addPdt="ngForm">
        <label>Product Category</label><br />
        <select name="productCategory" ngModel #pdtCategory="ngModel">
          <option *ngFor="let category of productCategory">
            {{ category }}
          </option>
        </select>
        <br /><br />
        <label>Product Title</label><br />
        <input
          type="text"
          class="pdt-details"
          name="productTitle"
          required
          placeholder="Enter product title"
          ngModel
          #pdtTitle="ngModel"
        />
        <br /><br />
        <label>Price</label><br />
        <input
          type="text"
          class="pdt-details"
          name="productPrice"
          required
          placeholder="Enter price"
          ngModel
          #pdtPrice="ngModel"
        />
        <br /><br />
        <input
          type="checkbox"
          name="topProduct"
          ngModel
          #topProduct="ngModel"
        /><span>Top Product</span> <br /><br />
        <label>Upload product Image</label><br />
        <button>Upload</button>
        <br /><br />
        <input
          type="text"
          class="filename-input"
          name="fileName"
          ngModel
          #fileName="ngModel"
        />
        <br /><br />

        <div class="form-actions">
          <div class="cancel-btn">
            <button type="button" (click)="showPopup = false">Cancel</button>
          </div>
          &nbsp;
          <div class="save-btn">
            <button type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
